<div class="container-fluid">
  <div style="display:none;">
  {{
  	systemFields = [
  		"createDate",
  		"createUser",
  		"lastUpdateDate",
  		"lastUpdateUser",
  		"systemUpdateDate",
  		"systemUpdateUser",
  		"systemUpdateProgram"
  	];
  }}
  </div>
  <!-- header -->
  <!--
  		search bar | [View Switcher] btn | [Refresh] btn | [Show/Hide Columns]
  -->
  <div>
    <form class="form-horizontal" role="form">
	<div class="form-group">
	  <div class="col-sm-6 col-sm-offset-2 has-feedback">
	  <input type="text" name="searchInGrid" class="form-control" ng-model="searchInGrid">
	  <span class="glyphicon glyphicon-search form-control-feedback"></span>
	  </div>
	  <div class="col-sm-2">
	    <button type="button" class="btn btn-default" ng-click="view='T'" ng-hide="view=='T'" ng-disabled="displayData.length==0">
	  	<span class="glyphicon glyphicon-list"></span>
	  	<span class="sr-only">Table View</span>
	    </button>
	    <button type="button" class="btn btn-default" ng-click="view='G'" ng-hide="view=='G'" ng-disabled="displayData.length==0">
	  	<span class="glyphicon glyphicon-th-large"></span>
	  	<span class="sr-only">Grid View</span>
	    </button>
	    <button type="button" class="btn btn-default {{table.name}}-refresh-data refresh-data" id="{{table.name}}-refresh-data" 
		ng-click="RefreshData();" 
		ng-disabled="readStatus.disableRefresh"
		>
	  	<span class="glyphicon glyphicon glyphicon-refresh"
			ng-class="{'fa-spin':readStatus.refreshingData}"></span>
	  	<span class="sr-only">Refresh</span>
	    </button>
	  </div>
	  <div class="col-sm-2">
		<div class="panel panel-default">
		<div class="panel-heading" style="padding: 0px;" ng-init="showHidePanel=false">
		<!-- show/hide column -->
	    <button type="button" class="btn btn-link dropdown-toggle" data-toggle="dropdown" aria-expanded="false" ng-click="showHidePanel=!showHidePanel" style="width: 100%;">
	  	  Show / Hide Column
	    </button>
		</div>
		<!-- Single button -->
		<div class="panel-body" style="padding:0px;" ng-show="showHidePanel">
		<div>
		  <div
		    ng-repeat="field in dataSchema"
		    ng-init="name=field.Field;label=definition.label[name] ? definition.label[name] : name;">
			  <div ng-if="definition.hidden.indexOf(name) == -1 && systemFields.indexOf(name)==-1">
				<button 
					type="button" 
					class="btn btn-link showOrHideColumn" 
					ng-init="showCol[name] = true" 
					ng-click="showCol[name]=!showCol[name]" 
					ng-class="{hideColOnTable:showCol[name]==false}"
					style="width: 100%;text-align: left;">
				<i class="fa fa-eye" ng-show="showCol[name]"></i>
				<i class="fa fa-eye-slash" ng-show="!showCol[name]"></i>
				{{label}}</button>
			  </div>
		  </div>
		</div>
		</div>
		</div>
	  </div>
	</div>
	</form>
  </div>
  <!-- End - header -->
  
  <!-- message -->
  <!--
		Info - no records found.
		Info - search result count(s)
  -->
  <div ng-show="displayData.length==0" ng-hide="readStatus.refreshingData || displayData.length>0">
	<div class="alert alert-info" role="alert"><strong>Oops!</strong> No existing records</div>
  </div>
  <div ng-show="searchInGrid!='' && searchInGrid !=null">
	<div class="alert alert-info" role="alert" ng-show="(displayData | filter:searchInGrid).length>0">About <strong>{{(displayData | filter:searchInGrid).length}}</strong> matched result</div>
	<div class="alert alert-info" role="alert" ng-show="(displayData | filter:searchInGrid).length<1">No record match</div>
  </div>
  <!-- End - message -->
  
  <!-- table -->
  <div class="table-entities table-responsive" ng-init="view='G'" ng-hide="!FirstReadFinished || displayData.length==0">
    <table class="table">
  	<thead>
  	  <tr>
  		<th 
		ng-repeat="field in dataSchema" 
		ng-init="name=field.Field" 
		ng-if="definition.hidden.indexOf(field.Field) == -1 && systemFields.indexOf(name)==-1"
		ng-show="showCol[field.Field]" 
		style="position: relative;" >
  		  <a href ng-click="sort.predicate=name; sort.reverse=!sort.reverse" style="margin-right: 14px;">{{definition.label[name] || name}}</a>
  		  <span class="glyphicon glyphicon-chevron-up"
  		  ng-show="sort.predicate==name && !sort.reverse"
  		  style="position: absolute;
  			right: 0px;
  			top: 11.5px;"></span>
  		  <span class="glyphicon glyphicon-chevron-down" ng-show="sort.predicate==name && sort.reverse"
  		  style="position: absolute;
  			right: 0px;
  			top: 11.5px;"></span>
  		</th>
  	  </tr>
  	</thead>
  	
  	<tbody ng-hide="view!='T'">
  	  <tr ng-repeat="dataRecord in displayData | filter:searchInGrid | orderBy:sort.predicate:sort.reverse">
  		<td ng-repeat="field in dataSchema" ng-if="definition.hidden.indexOf(field.Field) == -1 && systemFields.indexOf(name)==-1"
		ng-show="showCol[field.Field]" >{{dataRecord[field.Field]}}</td>
  	  </tr>
  	</tbody>
	
	<!-- | toArray:true | filter:searchInGrid | orderBy:sort.predicate:sort.reverse -->
	
  	<!--
  	<tfoot>
  	</tfoot>
  	-->
    </table>
  </div>
  <!-- End - table -->

  <!-- Read in details -->
  <div class="row"
    ng-hide="view!='G' || !FirstReadFinished">
	  <form class="form-horizontal col-sm-6 form-group-sm" role="form"
		ng-repeat="dataRecord in displayData | filter:searchInGrid | 
			orderBy:sort.predicate:sort.reverse">
            <div class="panel panel-default">
				<div class="row form-group-sm panel-body">
					<div class="col-xs-4" ng-init="imagePath = dataRecord['imagePath']"><img class="img-responsive" ng-if="imagePath!=null" ng-src="resourse/staffImage/{{dataRecord['staffID']}}/{{imagePath}}"></div>
				
					<div class="col-xs-8">
						<table class="table staff-business-card">
							<tbody>
								<tr>
									<td>Staff ID:</td>
									<td>{{dataRecord["staffID"]}}</td>
								</tr>
								<tr>
									<td>Name:</td>
									<td>{{dataRecord["fullName"]}}</td>
								</tr>
								<tr>
									<td>Position:</td>
									<td>{{dataRecord["position"]}}</td>
								</tr>
								<tr>
									<td>Contact No.1:</td>
									<td>{{dataRecord["contactNo1"]}}</td>
								</tr>
								<tr>
									<td>Email:</td>
									<td>{{dataRecord["email"]}}</td>
								</tr>
							</tbody>
						</table>
					</div>
				
				</div>
			</div>
	  </form>
  </div>
  <!-- End - Read in details -->
</div>