<div class="container-fluid">
  <div style="display:none;">
  {{
  	systemFields = [
  		"createDate",
  		"createUser",
  		"lastUpdateDate",
  		"lastUpdateUser",
  		"systemUpdateDate",
  		"systemUpdateUser",
  		"systemUpdateProgram"
  	];
  }}
  </div>
  <!-- header -->
  <!--
  		search bar | [View Switcher] btn | [Refresh] btn | [Show/Hide Columns]
  -->
  <!--<pre>
  {{definition.label | json}}
</pre>-->
  <div>
    <form class="form-horizontal" role="form">
    	<div class="form-group">
    	  <div class="col-sm-8 has-feedback">
    	  <input type="text" name="searchInGrid" class="form-control" ng-model="searchInGrid">
    	  <span class="glyphicon glyphicon-search form-control-feedback"></span>
    	  </div>
    	  <div class="col-sm-12" style="clear: left;">
            <div class="btn-group">
                <button type="button" class="btn btn-default {{table.name}}-refresh-data refresh-data" id="{{table.name}}-refresh-data" 
                ng-click="RefreshData();" 
                ng-disabled="readStatus.disableRefresh"
                >
                <span class="glyphicon glyphicon-refresh"
                    ng-class="{'fa-spin':readStatus.refreshingData}"></span>
                <span class="sr-only">Refresh</span>
                </button>

                <button type="button" class="btn btn-default" ng-click="PointToFirstPage()" ng-disabled="isPointAtStart">
                <span class="fa fa-angle-double-left"></span>
                <span class="sr-only">First</span>
                </button>

                <button type="button" class="btn btn-default" ng-click="PointToPreviousPage()" ng-disabled="isPointAtStart">
                <span class="fa fa-angle-left"></span>
                <span class="sr-only">Previous</span>
                </button>

                <button type="button" class="btn btn-default" ng-click="PointToNextPage()" ng-disabled="isPointAtEnd">
                <span class="fa fa-angle-right"></span>
                <span class="sr-only">Next</span>
                </button>

                <button type="button" class="btn btn-default" ng-click="PointToLastPage()" ng-disabled="isPointAtEnd">
                <span class="fa fa-angle-double-right"></span>
                <span class="sr-only">Last</span>
                </button>

                <button type="button" class="btn btn-default" ng-click="PointToRecordConfirm()">
                <span class="glyphicon glyphicon-ok"></span>
                <span class="sr-only">Select</span>
                </button>
            </div>
    	  </div>
          
    	  <div class="col-sm-12" style="display: none;">
    		<div class="panel panel-default">
    		<div class="panel-heading" style="padding: 0px;" ng-init="showHidePanel=false">
    		<!-- show/hide column -->
    	    <button type="button" class="btn btn-link dropdown-toggle" data-toggle="dropdown" aria-expanded="false" ng-click="showHidePanel=!showHidePanel" style="width: 100%;">
    	  	  Show / Hide Column
    	    </button>
    		</div>
    		<!-- Single button -->
    		<div class="panel-body" style="padding:0px;" ng-0show="showHidePanel">
    		<div>
    		  <div
    		    ng-repeat="field in dataSchema"
    		    ng-init="name=field.Field;label=definition.label[name] ? definition.label[name] : name;">
    			  <div ng-if="definition.hidden.indexOf(name) == -1 && systemFields.indexOf(name)==-1">
    				<button 
    					type="button" 
    					class="btn btn-link showOrHideColumn" 
    					ng-init="showCol[name] = true" 
    					ng-click="showCol[name]=!showCol[name]" 
    					ng-class="{hideColOnTable:showCol[name]==false}"
    					style="width: 100%;text-align: left;">
    				<i class="fa fa-eye" ng-show="showCol[name]"></i>
    				<i class="fa fa-eye-slash" ng-show="!showCol[name]"></i>
    				{{label}}</button>
    			  </div>
    		  </div>
    		</div>
    		</div>
    		</div>
    	  </div>
      <!-- <pre>Sorting predicate = {{predicate}}; reverse = {{reverse}}</pre>
      <hr/>
      [ <a href="" ng-click="predicate=''">unsorted</a> ] -->
    	</div>
    </form>
  </div>
  <!-- End - header -->
  
  <!-- message -->
  <!--
		Info - no records found.
		Info - search result count(s)
  -->
  <div ng-show="displayData.length==0" ng-hide="readStatus.refreshingData || displayData.length>0">
	<div class="alert alert-info" role="alert"><strong>Oops!</strong> No existing records</div>
  </div>
  <div ng-show="searchInGrid!='' && searchInGrid !=null">
	<div class="alert alert-info" role="alert" ng-show="(displayData | filter:searchInGrid).length>0">About <strong>{{(displayData | filter:searchInGrid).length}}</strong> matched result<span ng-show="{{(displayData | filter:searchInGrid).length > 1}}">s</span></div>
	<div class="alert alert-info" role="alert" ng-show="(displayData | filter:searchInGrid).length<1">No record match</div>
  </div>
  <!-- End - message -->

  <!-- table -->
  <div class="table-entities table-responsive" ng-hide="!FirstReadFinished || displayData.length==0" ng-show="(displayData | filter:searchInGrid).length>0">
    <table class="table">
  	<thead>
  	  <tr>
  		<th 
		ng-repeat="field in dataSchema" 
		ng-init="name=field.Field" 
		ng-if="definition.hidden.indexOf(field.Field) == -1 && systemFields.indexOf(name)==-1"
		ng-show="showCol[field.Field]" 
		style="position: relative;" >
  		  <a href ng-click="sort.predicate=name; sort.reverse=!sort.reverse" style="margin-right: 14px;">{{definition.label[name] || name}}</a>
  		  <span class="glyphicon glyphicon-chevron-up"
  		  ng-show="sort.predicate==name && !sort.reverse"
  		  style="position: absolute;
  			right: 0px;
  			top: 11.5px;"></span>
  		  <span class="glyphicon glyphicon-chevron-down" ng-show="sort.predicate==name && sort.reverse"
  		  style="position: absolute;
  			right: 0px;
  			top: 11.5px;"></span>
  		</th>
  	  </tr>
  	</thead>
  	
  	<tbody>
  	  <tr ng-repeat="dataRecord in displayData | filter:searchInGrid | 
  		orderBy:sort.predicate:sort.reverse"
              ng-click="PointToRecord($event, dataRecord);"
              ng-dblclick= "DoubleClickAndPointToRecord($event, dataRecord)"
      >
  		<td ng-repeat="field in dataSchema" ng-if="definition.hidden.indexOf(field.Field) == -1 && systemFields.indexOf(name)==-1"
		ng-show="showCol[field.Field]" >{{dataRecord[field.Field]}}</td>
  	  </tr>
  	</tbody>
  	<!--
  	<tfoot>
  	</tfoot>
  	-->
    </table>
  </div>
  <!-- End - table -->

</div>
{{fields | json}}